<template>
  <div class="container ">

    <h1 class="has-text-centered is-size-3 has-text-black">
      Este es un juego demostrando el uso de los hilos
    </h1>

    <div class="columns is-centered margin-top-20">
      <div class="column is-half has-text-info">
        <h2 class="has-text-justify is-size-5">
          Para entender este juego es necesario tener en cuenta primeramente
          que se generan números aleatorios cada que el juego comienza, y se
          tiene como meta llegar a un número base, dicho número se muestra
          debajo de las instrucciones.
          <br>
          El objetivo del juego es calcular en cuantas iteraciones se va a
          llegar al número objetivo, para calcular esto es necesario observar
          la tabla siguiente:
        </h2>
      </div>
    </div>

    <div class="columns">
      <div class="column is-3">
        <label class="label">
          Selecciona el algoritmo de procesos
        </label>
        <div class="select">
          <select v-model="sortered">
            <option value="1" >Short-term Scheduler</option>
            <option value="2" >Long-term Scheduler</option>
            <option value="3" >Round-Robin</option>
          </select>
        </div>
      </div>
      <div class="column" v-show="sortered == '3'">
        <label for="" class="label">Seleccion el quantum</label>
        <input  type="text"
                class="input"
                placeholder="Quantum"
                v-model="quantum"
        >
      </div>

    </div>

    <div class="columns">
      <div class="column">
        <h1 class="is-size-2">Número objectivo: {{ getObjectiveNumber }}</h1>
        <h1 class="is-size-2">
          Acumulado: {{ getCurrentNumber }}
          -> Número de iteraciones {{ getCountIterations }}
        </h1>
      </div>
    </div>

    <div class="columns margin-top-30">
      <div class="column"
           v-for="(operator, index) in operations"
           :key="index"
      >
        <Operator
          :operator="operator"
          @operatorHasFinishedExecution="operatorHasFinishedExecution"
          @onQuantumTimeEnded="onQuantumTimeEnded"
          :quantum="quantum"
        />
      </div>
    </div>

    <div class="columns">
      <div class="column is-flex is-horizontal-center ">
        <div class="field">
          <div class="control">
            <label>Ingresa el número de iteraciones</label>
            <input type="text"
                   class="input"
                   placeholder="Número de iteraciones"
                   v-model="userIterations"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="columns">

      <div class="column is-flex is-horizontal-center">
        <button class="button is-primary "
                @click="startGame()"
                v-if="! gameEnded"
        >Comenzar juego</button>
        <button class="button is-primary "
                @click="restartGame()"
                v-if="gameEnded"
        >Restaurar juego</button>
      </div>
    </div>
  </div>
</template>


<script>

import Operator from './components/Operator';
import swal from 'sweetalert'

const numeral = require('numeral');

export default {
  components: {
    Operator,
  },
  data() {
    return {
      objectiveNumber: 0,
      processListInQueue: [],
      processListWaiting: [],
      gameEnded: false,
      userIterations: 0,
      sortered: '1',
      quantum: null,
      roundrobinQueue: [],
    };
  },
  computed: {
    operations() {
      return this.$store.state.operations;
    },

    shortTermSort() {
      const list = { ...this.operations };
      return Object.keys(list).sort((a, b) => (list[a].timeToExecute - list[b].timeToExecute));
    },

    longTermSort() {
      const list = { ...this.operations };
      return Object.keys(list).sort((a, b) => (list[b].timeToExecute - list[a].timeToExecute));
    },

    roundRobinSort() {
      const list = { ...this.operations };
      return Object.keys(list);
    },

    operationsSortered() {
      switch (this.sortered) {
        case '1':
          return this.shortTermSort;
        case '2':
          return this.longTermSort;
        case '3':
          return this.roundRobinSort;
        default:
          return [];
      }
    },
    getObjectiveNumber() {
      return numeral(this.$store.state.objectiveNumber.value).format('0,0');
    },
    getCurrentNumber() {
      return numeral(this.$store.state.objectiveNumber.current).format('0,0');
    },
    getCountIterations() {
      return numeral(this.$store.state.objectiveNumber.iterations).format('0,0');
    },
    gameResult() {
      return parseInt(this.userIterations) == parseInt(this.getCountIterations)
    },
  },
  methods: {

    startGame () {

      const sortered = this.operationsSortered;
      this.launchThreadsEvents(sortered, 2);

    },

    restartGame() {

      this.$store.dispatch('restartGame');
      window.location.href = '';

    },

    reestartQueue () {

      Object.keys(this.operations).map(key => {
        this.$store.dispatch('changeOperationStatus', {
          key,
          newStatus: ''
        });
      })

      window.setTimeout(() => {
        const sortered = this.operationsSortered;
        this.launchThreadsEvents(sortered, 2);
      })

    },

    launchThreadsEvents (sortered, threadsNumber = 2) {

      let threadsExecuted = 0;

      let processInExecuting = 0;

      for (let i = 0; threadsExecuted < threadsNumber; i += 1) {

        if ( i >= Object.keys(this.operations).length ) {
          break;
        }

        if (this.operations[ sortered[i] ].status == '') {

          this.$store.dispatch('changeOperationStatus', {
            key: sortered[i],
            newStatus: 'is-executing',
          });

          threadsExecuted += 1;

        }

        if (this.operations[ sortered[i] ].status == 'is-executing') {
          processInExecuting += 1;
        }
      }

      if (threadsExecuted === 0) {
        let processFinished = 0;
        let processInPause = 0;

        Object.keys(this.operations).map((operation) => {

          if (this.operations[operation].status === 'is-finished')
            processFinished += 1;
          if (this.operations[operation].status === 'is-paused')
            processInPause += 1;
        });

        if (processFinished == 4 && processInPause == 0) {
          window.setTimeout(() => {
            this.reestartQueue();
          }, 1000);
        }


        else if (processInPause > 0) {
          console.log('unpause object');
          let canResumeObject = true;
          let processInExecuting = 0;

          this.roundrobinQueue.map( entity => {
            if (entity.status == '')
              canResumeObject = false;
          });

          if (processInExecuting >= threadsNumber)
            canResumeObject = false;

          const processToRestore = this.roundrobinQueue.shift();
          this.$store.dispatch('changeOperationStatus', { key: processToRestore.key, newStatus: 'is-executing' })
        }

      }

    },

    operatorHasFinishedExecution (payload) {

      this.$store.dispatch('changeOperationStatus', {
        key: payload.key,
        newStatus: 'is-finished',
      })
      .then( () => {

        const sortered = this.operationsSortered;

        this.launchThreadsEvents(sortered, 1);

      });

    },

    onQuantumTimeEnded (operator) {
      this.$store.dispatch('pauseOperator', { operator, quantum: this.quantum })
        .then(() => {
          this.roundrobinQueue.push(operator);

          const sortered = this.operationsSortered;
          this.launchThreadsEvents(sortered, 1);
        })


    }

  },
  watch: {
    processListInQueue(process) {
      process.status = 'is-executing';
    },
    getCurrentNumber(value) {
      let currentValue = parseFloat(value.replace(',',''));
      let objectiveValue = parseFloat(this.getObjectiveNumber.replace(',',''));

      if (currentValue >= objectiveValue) {
        this.$store.dispatch('gameFinished');
        if (this.gameResult) {
          swal('Felicidades', 'Ganaste el juego', 'success');
        }
        else {
          swal('Petardo', 'Perdiste el juego', 'error');
        }
        this.gameEnded = true;
      }
    }
  },
  mounted() {

    this.$store.dispatch('calculateOperatorValues', 1);

    this.$store.dispatch('calculateObjectiveNumber');

  },
};
</script>
