<template>
  <div id="app">
    <Navbar />
    <router-view/>
  </div>
</template>

<script>

import Navbar from './layout/Navbar';

export default {
  name: 'App',
  components: {
    Navbar,
  },
  mounted() {
  },
};
</script>

<style>
  @import '../node_modules/bulma/css/bulma.css';

  .margin-left-10 {
    margin-left: 10px;
  }
  .margin-top-20 {
    margin-top: 20px;
  }
  .margin-top-60 {
    margin-top: 60px;
  }
  .margin-top-120 {
    margin-top: 120px;
  }
  .is-horizontal-center {
    justify-content: center;
  }
</style>
