<template>
  <div>
    <div class="card equal-height"
         :class="operator.status"
    >
      <div class='card-content is-flex is-horizontal-center'>
        <figure class='image is-64x64'>
          <img :src='operator.icon'>
        </figure>
      </div>
      <div class="card-content">
        <span class="tag is-medium centered margin-top-20 is-info is-full-width">
          Nombre: {{ operator.name }}
        </span>
        <span class="tag is-medium centered margin-top-20 is-primary">
          Tiempo de ejecución: {{ operator.timeToExecute }} s
        </span>
        <span class="tag is-medium centered margin-top-20 is-link">
          Valor de iteración: {{ operator.value }}
        </span>
      </div>
      <div class="card-content">
        <progress class="progress is-primary"
                  :value="progress"
                  max="100"
        >
          {{ progress }}
        </progress>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    operator: {
      type: Object,
      required: true,
    },
    quantum: {
      type: Number,
      default: null
    }
  },

  data() {
    return {
      remainingTime: {},
      progress: 0,
      interval: {},
    };
  },

  computed: {
    timer() {
      return this.operator.timer;
    },
    status() {
      return this.operator.status;
    }
  },

  methods: {

    setProgress(remaining) {
      if (this.quantum > 0) {
        const percentajeToQuantum = ( (this.quantum + this.operator.elapsedTime) / this.operator.timeToExecute) * 100;
        const percentajeExecuted = (1 - (remaining / (this.operator.timeToExecute * 1000))) * 100;

        if ( percentajeExecuted >= percentajeToQuantum) {
          this.timer.pause();
          clearInterval(this.interval);
          this.interval = null;
          this.$emit('onQuantumTimeEnded', this.operator);
        }
      }
      this.progress = (1 - (remaining / (this.operator.timeToExecute * 1000))) * 100;
      if (this.progress >= 100) {
        clearInterval(this.interval);
        this.$emit('operatorHasFinishedExecution', this.operator)
      }
    },

  },

  watch: {
    timer() {
      if ( Object.keys(this.timer).length > 0 ) {
        this.interval = setInterval(() => {
          this.setProgress(this.timer.getTimeLeft());
        }, 10);
      }
    },
    status(status) {
      if (status == 'is-paused') {
        clearInterval(this.interval);
        this.interval = null;
        this.timer.pause();
      }

      if (status == 'is-executing' && this.interval == null) {
        this.timer.start();

        this.interval = setInterval(() => {
          this.setProgress(this.timer.getTimeLeft());
        }, 10);
      }
    }
  },

};
</script>

<style scoped>
  .is-executing {
    border: 2px solid green;
    border-radius: 4px;
    background-color: rgba(0,255,0,.1);
  }
  .is-paused {
    border: 2px solid rgba(255,165,0,1);
    border-radius: 4px;
    background-color: rgba(255,165,0,.1);
  }
  .is-finished {
    border: 2px solid rgba(255,0,0,1);
    border-radius: 4px;
    background-color: rgba(255,0,0,.1);
  }
</style>
