<template>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="dropdown navigation">

      <div class="navbar-brand">

        <router-link :to="{ name: 'Home' }"
                     class="navbar-item"
        >
          <img src="http://umg.edu.mx/portal/wp-content/uploads/2017/02/logo-universidad-marista.png"
               alt="Bulma: a modern CSS framework based on Flexbox"
          >
        </router-link>

        <a role="button"
           class="navbar-burger"
           data-target="navMenu"
           aria-label="menu"
           aria-expanded="false"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navMenu">
        <a class="navbar-item">
          Victor Manuel López Castellanos
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <router-link :to="{ name: 'Home' }"
                       class="navbar-link"
          >
            <font-awesome-icon icon="desktop" />
            <span class="margin-left-10">Sistemas operativos</span>
          </router-link>

          <div class="navbar-dropdown">
            <router-link class="navbar-item"
                         :to="{ name: 'Threads'}"
            >
              Práctica de Hilos (Proyecto)
            </router-link>
          </div>
        </div>

      </div>

    </nav>

  </div>
</template>


<script>
export default {
  mounted() {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach(($el) => {
        $el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = $el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  },
};
</script>
